* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.site-footer {
    background-color: crimson;
    height: 300px;
}
.footer {
    padding-top: 70px;
}
.footer-titles p {
    color: white;
    margin-bottom: 30px;
    font-size: 26px;
}
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer-icons p {
    color: white;
    font-size: 28px;
}
@media screen and (max-width:530px) {
    .footer-titles p {
        font-size: 20px;
    }
    .footer-icons p {
        font-size: 22px;
    }
}
@media screen and (max-width:411px) {
    .footer-titles p {
        font-size: 18px;
    }
    .footer-icons p {
        font-size: 20px;
    }
}