* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.about {
    padding-top:100px;
    margin-bottom: 50px;
}
.about-card {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.about-h3 {
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
    text-align: center;
}

.about-img img  {
    width: 530px;
    height: 450px;
    border-radius: 10px;  
    margin-bottom: 50px; 
}
.about-tittle {
    margin-top: 30px;
}
.about-tittle h4 {
    font-size: 24px;
    margin-bottom: 15px;
}
.about-tittle p {
    color: black;
    margin-bottom: 20px;
    
}

.about-btn {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #ffff;
    background-color: crimson;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    transition: .5s ease;
    
}
.about-btn:hover {
    background: #ffff;
    color: black;
}
    @media screen and (max-width:1040px) {
    .about-img img {
        width: 430px;
        height: 400px;
        border-radius: 10px;   
    }
    .about-card {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
}
@media screen and (max-width:1000px) {
    .about-img img {
        width: 400px;
    }
    .about-tittle p {
        font-size: 16px;
    }
}
@media screen and (max-width:900px) {
    .about-btn {
        display: none;
    }
}
@media screen and (max-width:860px) {
    .about-card {
        display: block;
    }
    .about-img img {
        width: 700px;
        margin-bottom: 30px;
    }
    .about-tittle h4 {
        text-align: center;
        font-size: 30px;
    }
    .about-tittle p {
        width: 700px;
        text-align: center;
        padding-left: 50px;
    }
}

@media screen and (max-width:620px) {
    .about-img img {
        width: 500px;
        height: 300px;
        
    }
    .about-tittle h4 {
        font-size: 22px;
    }
    .about-tittle p {
        font-size: 14px;
        width: 500px;
        margin-left: -50px;
    }
}

@media screen and (max-width:520px) {
    .about-img img {
        width: 400px;
        
    }
    .about-tittle p {
        width: 400px;
        
    }
}


@media screen and (max-width:420px) {
    .about-img img {
        width: 300px;
        height: 250px;
        
    }
    .about-tittle h4 {
        font-size: 18px;
    }
    .about-tittle p {
        width: 350px;
        font-size: 12px;
    }
}

@media screen and (max-width:380px) {
    .about-tittle p {
        width: 300px;
    }
}
